body {
  margin: 0;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at center, #e8e8e8, #b7b7b7)
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 200px -40px rgba(0, 0, 0, 1);
  background: white;
  padding: 30px;
}

.logos-container {
  display: flex;
  align-items: center;
}

.logos-container img {
  height: 200px;
}

.logos-container img:nth-child(2) {
  height: 120px;
  margin: 0 30px 0 0;
}